::selection {
  background: darkviolet;
  color: gold;
}

:root {
  color: #111;
  background: #bae;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: rebeccapurple;
    color: seashell;
  }
}

:any-link {
  color: inherit;
  text-decoration-style: dotted;
}

mark {
  color: #11111d;
  background: magenta;
}
